Updating origin
https://github.com/libertine-linux-mirrors/dnsmasq
Branch 'master' set up to track remote branch 'master' from 'origin'.
[submodule "upstream"]
	path = upstream
	url = https://github.com/libertine-linux-mirrors/dnsmasq.git
	branch = master
	libertine-linux-upstream = git://thekelleys.org.uk/dnsmasq.git
